.contact{
    grid-area: contact-info;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    grid-template-rows: repeat(3,4em) 3em;
    &__items{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;
    }
    &__item{
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-template-areas: "ico name"
                               ". description";
        grid-gap: 0 1em;
    } 
    &__ico{
        background: #333;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        &--contact{
        }
    }
    &__ico-container{
        align-self: center;
    }
    &__name-section{
        grid-area: name;
        align-self: center;
        text-transform: uppercase;
        color: #aaa;
    }
    &__description{
        grid-area: description;
        color: #333;
        font-weight: 300;
    }
}