.footer{
    background: #333;
    color: #ccc;
    &__container{
        padding: 2em 0;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 1fr;
        grid-template-areas: "author"
                            "social-media";
        @include from(large){
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "author social-media";
        }
    }
    &__author{
        grid-area: author;
        font-size: .9em;
        text-align: center;
    }
}