.labors{
    &__container{

    }
    &__items{

    }
    &__item{
        color: #aaa;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 26px;
        text-transform: uppercase;
        margin: 1em 0;
    }
}
