.section{
    &:nth-child(even){
        background: #fafafa;
        // padding: 4em 0;
    }
    &__title{
    text-align : start;
    font-size: 2em;
    text-transform: uppercase;
    color: #333;
    line-height: 1.2;
    }
    &__container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:    "title"
                                "content";
        grid-gap: 2em;
        @include from(large){
            grid-template-columns: 23em 1fr;
            grid-template-areas: "title content";
        }
        &--quiensoy{
            grid-template-areas:    "title"
                                    "img"
                                    "content";
            grid-template-rows: max-content;
            @include from(large){           
                grid-template-areas:    "title content"
                                        "img content";
            }
        }
        &--contact{
            grid-gap: 2em 0;
            grid-template-areas:    "title"
                                    "content"
                                    "map";
            @include from (medium){
                grid-gap: 6em 2em;
            }
            @include from(large){
                grid-template-columns: 23em 1fr;
                grid-template-areas:    "title content"
                                    "map map";

            }
        }
        &--portafolio{
            grid-template-columns: 1fr;
            grid-template-areas:    "title"
                                    "content";
        }
    }
    &__content{
        display: grid;
        grid-gap: 2em;
        &--quiensoy{
            grid-area: content;
            grid-template-columns: 1fr;
            grid-template-areas: "description" "skill";
        }
        &--contact{
            grid-template-columns: 1fr;
            grid-template-areas:    "contact-info"
                                    "form";
            grid-gap: 4em 0;
            @include from(large){
                grid-template-columns: 1fr 1fr;
                grid-template-areas: " contact-info form";
            }
        }
    }
}