.quiensoy{
    &__img{
        grid-area: img;
        border-radius: 50%;
        grid-area: img;
        max-width: 150px;
        margin: 0 auto;
        @include from(large){
            margin: initial;
        }
    }
    &__title{
        grid-area: title;
        text-align: start;
    }
    &__description{
        grid-area: description;
        text-align: start;
        color: #999;
        font-size: 1.2em;
    }
}



