.social-media {
  grid-area: social-media;
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item { list-style-type: none; }

  &__link {
    // font-size: 10vw;
    color: #eee;;

    &:hover { color: $color_rojo; }

    @media screen and (min-width:48em) {
      //  font-size: 5vw; 
      }
  }
}
