.timeline{
    &__container{
        display: grid;
        &--timeline{
            grid-template-columns: 1fr;
            grid-gap: 0 2em;
        }
        &--image{
            grid-gap: 4em 2em;
            grid-template-columns: 1fr;
            @include from(medium){
                grid-gap: 6em 2em;
                grid-template-columns: 15em 1fr;
            }
        }
    }
    &__item{
        display: grid;
        position: relative;
        grid-gap: 0 2em;
        grid-template-columns: 1px 1fr;
        grid-template-areas: "timeline left"
                             "timeline rigth";
        @include from(medium){
            grid-template-columns: 15em 1px 1fr;
            grid-template-areas: "left timeline rigth ";
        }

        &--timeline{
            grid-template-columns: 1px 1fr;
            grid-template-areas: "timeline left"
                                 "timeline rigth";
            @include from(medium){
                grid-template-columns: 15em 1px 1fr;
                grid-template-areas: "left timeline rigth ";
            }
        }
        &--image{
            grid-template-columns: 1px 1fr;
            grid-template-areas: "timeline rigth";
            @include from(medium){
                grid-template-columns: 1px 1fr;
                grid-template-areas: "timeline rigth ";
            }
        }
    }
    &__section{
        margin: 1em 0;
        @include from(medium){
            margin: 1.5em 0;
        }
        &--left{
            grid-area:left;
            @include from (medium){
                justify-self: center;
            }
            @include from(large){
                justify-self: end;
            }
        }
        &--rigth{
            grid-area:rigth;
            display: grid;
            grid-gap: 2em 0 ;
        }
    }
    &__timeline{
        grid-area:timeline;
        border-left:1px solid black;
        position: relative;
        &:hover{
            &::after{
                background: black;
            }
        }
        &::before{
            background: #333 none repeat scroll 0 0;
            border-radius: 50%;
            content: "";
            height: 12px;
            left:-6px;
            position: absolute;
            width: 12px;
            z-index: 2;
        }
        &::after{
            background: #fff none repeat scroll 0 0;
            border-radius: 50%;
            content: "";
            height: 8px;
            position: absolute;
            left:-4px;
            top:2px;
            transition: all .30s linear;
            width: 8px;
            z-index: 2;
        }
    }
    &__years,&__job,&__curso{
        color:#333;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &__time{
        color: #aaa;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 26px;
        text-transform: uppercase;
    }
    &__link{
        &--logo{
        max-width: 12em;
        @include from (medium){
            justify-self: center;
        }

        }   
        &--curso{
            display: grid;
            grid-gap: 2em 0;

            &:hover{
                .timeline__badge{
                    max-width: 4.5em;
                }
            }
        }     
    }
    &__logo{

    }
    &__badge{
        width: 90%;
        max-width:4em;
        border-radius: 50%;
        transition: .3s;
    }
    &__items{
        &--job{
            display: grid;
            grid-gap: 1em 0;
        }
    }
}

