mixin socialMedia(elements)
  aside.social-media
    ul.social-media__list
      each el in elements
        li.social-media__item
          a.social-media__link(href=`${el.link}`, target="_blank")
            i.social-media__icon(class=`${el.ico}`)
