extends ../includes/layout.pug
include ../includes/components/header_poster.pug
include ../includes/blocks/header.pug
block metatags
	-var title = 'Portafolio Esquivel.'
	-var description = 'Bienvenid@, en este sitio encontrarás mi portafolio.'
	title= title
	meta(name="description", content=description)
	meta(name="application-name", content=title)
block content
	main.Home
		+headerPoster('./img/portada_section.jpg')
		//- +header([
		//- 	{
		//- 		'link': '/',
		//- 		'seccion': 'Inicio'
		//- 	},
		//- 	{
		//- 		'link': '#quien-soy',
		//- 		'seccion': 'Quien soy'
		//- 	},
		//- 	{
		//- 		'link': '#experiencia-laboral',
		//- 		'seccion': 'Experiencia laboral'
		//- 	},
		//- 	{
		//- 		'link': '#educacion',
		//- 		'seccion': 'educación'
		//- 	},
		//- 	{
		//- 		'link': '#cursos-talleres',
		//- 		'seccion': 'cursos y talleres'
		//- 	},
		//- 	{
		//- 		'link': '#portafolio',
		//- 		'seccion': 'portafolio'
		//- 	},
		//- 	{
		//- 		'link': '#contacto',
		//- 		'seccion': 'contacto'
		//- 	}
		//- ])
		include ../includes/blocks/quien_soy.pug
		include ../includes/blocks/experiencia.pug
		include ../includes/blocks/education.pug
		include ../includes/blocks/cursos_talleres.pug
		include ../includes/blocks/portafolio.pug
		include ../includes/blocks/contacto.pug
		include ../includes/blocks/footer.pug