include ../components/timeline_image.pug
section.cursos-talleres.section
    .cursos-talleres__container.l-container.l-section.section__container
        h2.cursos-talleres__title.section__title cursos y talleres
        .section__content.section__content--experiencia-laboral
            +timelineImage([
                {
                    'logo': 'img/logo-platzi.jpg',
                    'alt': 'platzi-logo',
                    'item': [
                                {
                                    'curso':'Curso de Programación básica',
                                    'link':'https://platzi.com/cursos/programacion-basica/',
                                    'badge': 'img/b-prog-basica.webp'
                                },
                                {
                                    'curso':'Curso de Desarrollo Web Online',                        
                                    'link':'https://platzi.com/cursos/html5-css3/',
                                    'badge': 'img/b-Desarrollo-Web-Online.webp'
                                },
                                                            {
                                    'curso':'Curso de Responsive Design',
                                    'link':'https://platzi.com/cursos/responsive-design/',
                                    'badge': 'img/b-responsive-design.webp'
                                },
                                {
                                    'curso':'Curso de Frontend con Bootstrap y Foundation',
                                    'link':'https://platzi.com/clases/fw-frontend/',
                                    'badge': 'img/b-bootstrap.webp'
                                },
                                {
                                    'curso':'Curso de CSS Grid Layout',
                                    'link':'https://platzi.com/cursos/css-grid-layout/',
                                    'badge': 'img/b-css-grid.webp'
                                },
                                {
                                    'curso':'Curso de Sass',
                                    'link':'https://platzi.com/cursos/sass/',
                                    'badge': 'img/b-curso-sass.webp'
                                }
                            ]
                            
                },
                {
                    'logo': 'img/edteam-logo.jpg',
                    'alt': 'edteam-logo',
                    'item': [
                            {
                                'link':'https://ed.team/cursos/css-grid-flexbox',
                                'curso': 'curso de CSS Avanzado: Grid + Flexbox',
                                'badge': 'img/b-edteam-css-grid.jpg'
                            },
                            {
                                'link':'https://app.ed.team/curso/19',
                                'curso': 'curso de JavaScript Desde Cero',
                                'badge': 'img/b-edteam-javascritp.jpg'
                            },
                            ]
                            
                },
                {
                    'logo': 'img/styde-logo.jpg',
                    'alt': 'styde-logo',
                    'item': [{
                                'link': 'https://styde.net/curso-gulp-y-herramientas-de-automatizacion/',
                                'curso': 'Curso de Gulp y herramientas de automatización',
                                'badge': 'img/b-styde-gulp.jpg'
                            },
                            {
                                'link': 'https://styde.net/laravel-5/',
                                'curso': 'Curso de Laravel 5.5 desde cero',
                                'badge': 'img/b-styde-laravel.jpg'
                            }
                            ]
                }
            ])