include ../components/timeline.pug
section.education
    .education__container.l-container.l-section
        h2.education__title.section__title educación
        +timeline([
            {
                'years': '3 años',
                'time': '2012-2015',
                'job': 'computacion e informatica',
                'labor': ['instituto argentina']
            }
            ])


                            
                            
        