include ../components/timeline.pug
section.education.section
    .education__container.l-container.l-section.section__container
        h2.education__title.section__title educación
        .section__content.section__content--education
            +timeline([
                {
                    'years': '3 años',
                    'time': '2012 - 2015',
                    'job': 'computacion e informatica',
                    'labor': ['instituto argentina']
                }
                ])


                            
                            
        