include ../components/timeline.pug
section.experiencia-laboral
    .experiencia-laboral__container.l-container.l-section
        h2.experiencia-laboral__title.section__title experiencia laboral
        +timeline([
        {
            'years': '5 años',
            'time': '2012 -2017',
            'job': 'Técnico de celulares Software',
            'labor':    [  'Soporte de celulares. ', 
                            'Soporte de computadoras (Mantenimiento preventivo y correctivo).'
                        ]
        }
        ])
        



    