include ../components/timeline.pug
section.experiencia-laboral.section#experiencia-laboral
    .l-container.l-section.l-grid.section__container
        h2.experiencia-laboral__title.section__title experiencia laboral
        .section__content.section__content--experiencia-laboral
            +timeline([
            {
                'years': '5 años',
                'time': '2012 - 2017',
                'job': 'Técnico de celulares Software',
                'labor':    [  'Soporte de celulares. ', 
                                'Soporte de computadoras (Mantenimiento preventivo y correctivo).'
                            ]
            }
            ])
        



    