include ../components/social_media.pug
footer.footer
    .footer__container.l-container
        p.footer__author © Esquivel Luera Juan Harol 2018. Todos los derechos reservados.
        +socialMedia([
            {
                'link': 'https://github.com/Pacch',
                'ico': 'icon-github'
            },
            {
                'link': 'mailto:harolesquivel92@gmail.com',
                'ico': 'icon-envelope-o'
            },
            {
                'link': 'https://www.linkedin.com/in/juan-harol-esquivel-luera-91baa68b/',
                'ico': 'icon-linkedin2'
            },
            {
                'link': 'https://www.facebook.com/harol.esquivel',
                'ico': 'icon-facebook2'
            }
        ])