//- ejercicio de Instagram layout
//-
//-
//- .instagram
//-     .instagram__container
//-         section.instagram__item
//-             img.instagram__imagen(src="img/portada.jpg", alt="portada")
//-             .instagram__overlay
//-         section.instagram__item
//-             img.instagram__imagen(src="img/portada.jpg", alt="portada")
//-             .instagram__overlay
//-         section.instagram__item
//-             img.instagram__imagen(src="img/portada.jpg", alt="portada")
//-             .instagram__overlay
//-         section.instagram__item
//-             img.instagram__imagen(src="img/portada.jpg", alt="portada")
//-             .instagram__overlay
//-         section.instagram__item
//-             img.instagram__imagen(src="img/portada.jpg", alt="portada")
//-             .instagram__overlay
//-         section.instagram__item
//-             img.instagram__imagen(src="img/portada.jpg", alt="portada")
//-             .instagram__overlay
//-         section.instagram__item
//-             img.instagram__imagen(src="img/portada.jpg", alt="portada")
//-             .instagram__overlay
//-         section.instagram__item
//-             img.instagram__imagen(src="img/portada.jpg", alt="portada")
//-             .instagram__overlay
//-         section.instagram__item
//-             img.instagram__imagen(src="img/portada.jpg", alt="portada")
//-             .instagram__overlay
//-         section.instagram__item
//-             img.instagram__imagen(src="img/portada.jpg", alt="portada")
//-             .instagram__overlay
//-         section.instagram__item
//-             img.instagram__imagen(src="img/portada.jpg", alt="portada")
//-             .instagram__overlay
//-         section.instagram__item
//-             img.instagram__imagen(src="img/portada.jpg", alt="portada")
//-             .instagram__overlay
//-
//-

//-ejercicio de pinterest layout

//- .pinterest
//-     .pinterest__container
//-         section.pinterest__item.level-1
//-             img.pinterest__imagen(src="img/portada.jpg", alt="portada")
//-             .pinterest__overlay
//-         section.pinterest__item.level-2
//-             img.pinterest__imagen(src="img/portada.jpg", alt="portada")
//-             .pinterest__overlay
//-         section.pinterest__item.level-3
//-             img.pinterest__imagen(src="img/portada.jpg", alt="portada")
//-             .pinterest__overlay
//-         section.pinterest__item.level-1
//-             img.pinterest__imagen(src="img/portada.jpg", alt="portada")
//-             .pinterest__overlay
//-         section.pinterest__item.level-2
//-             img.pinterest__imagen(src="img/portada.jpg", alt="portada")
//-             .pinterest__overlay
//-         section.pinterest__item.level-3
//-             img.pinterest__imagen(src="img/portada.jpg", alt="portada")
//-             .pinterest__overlay
//-         section.pinterest__item.level-1
//-             img.pinterest__imagen(src="img/portada.jpg", alt="portada")
//-             .pinterest__overlay
//-         section.pinterest__item.level-2
//-             img.pinterest__imagen(src="img/portada.jpg", alt="portada")
//-             .pinterest__overlay
//-         section.pinterest__item.level-3
//-             img.pinterest__imagen(src="img/portada.jpg", alt="portada")
//-             .pinterest__overlay
//-         section.pinterest__item.level-1
//-             img.pinterest__imagen(src="img/portada.jpg", alt="portada")
//-             .pinterest__overlay
//-         section.pinterest__item.level-2
//-             img.pinterest__imagen(src="img/portada.jpg", alt="portada")
//-             .pinterest__overlay
//-         section.pinterest__item.level-3
//-             img.pinterest__imagen(src="img/portada.jpg", alt="portada")
//-             .pinterest__overlay

//- ejercicio de landing de platzi
//- .landing
//-     .landing__container
//-         img.landing__babge(src="img/badge.png", alt="badge")
//-         h1.landing__title Curso de React.js
//-         p.landing__description React es una de las líbrerias más utilizadas hoy en día para crear aplicaciones web. En este curso podrás dominar la creación de aplicaciones a travéz de un proyecto que te ayudará a explotar todas las capacidades de esta librería.
//-         form.landing__form
//-             label(for="") Regístrate a Platzi
//-             input(type="text" placeholder="Nombre")
//-             input(type="email" placeholder="correo Electronico")
//-             input(type="submit", value="Comienza ahora")
//-         .countdown
//-             p.countdown__title Lanzamiento
//-             p
//-                 span 01d
//-                 span 03h
//-                 span 09m
//-                 span 05s


        
